$white : white;
$black-1 : #1E2129;
$red-1 : #e41a1a;
$breakpoints:(
    'extra-large' : 1200px,
    'extra-large1' : 1267px,
    'extra-large2' : 1430px,
    'large': 992px,
    'large1': 900px,
    'medium' : 768px,
    'small1' :660px,
    'small' :576px,
    'small2' :520px,
)