.profle{
    h1{
        font-size: 20px;
        line-height: 40px;
        i{
            font-size: 25px;
            color: gray;
            margin-right: 10px;
        }
        span{
            font-weight: 600;
        }
    }
    .ant-tabs-nav-wrap{
        margin-left: 6rem;
        height: 80px;
    }
}